.main-container {
    height: 500px;
    width: 400px;
    background-color: beige;
    padding-left: 10px;
    margin-left: 400px;
}
.heading {
    text-align: center;
    padding-top: 30px;
}

.button1 {
    border-radius: 6px;
    height: 80px;
    width: 90px;
    border-color: azure;
    border-style: solid;
    margin-top: 50px;
    color: white;
    background-color: green;
   
}
.button2 {
    border-radius: 6px;
    height: 80px;
    width: 90px;
    border-color: azure;
    border-style: solid;
    margin-top: 50px;
    color: white;
   background-color: rgb(241, 241, 71);
   
}
.button3 {
    border-radius: 6px;
    height: 80px;
    width: 90px;
    border-color: azure;
    border-style: solid;
    margin-top: 50px;
    color: white;
    background-color: violet;
   
}
.button4 {
    border-radius: 6px;
    height: 80px;
    width: 90px;
    border-color: azure;
    border-style: solid;
    margin-top: 50px;
    color: white;
   background-color: rgb(112, 205, 205);
}
.bg-span {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    height: 40px;
    width: 270px;
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-left: 25px;
}
.text {
    font-style: oblique;
    font-weight: bold;
    margin-top: 30px;
}